@tailwind base;
@tailwind components;
@tailwind utilities;

#light{
  background-color: #d0f0f3;
}
#dark{
  background-color: #072658;
}

.App {
  padding: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#light .bg {
  background-color: #072658;
}

#dark .bg {
  background-color: #d0f0f3;
}
.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#dark h1 {
  color: white;
}

#light .switch label {
  color: black;
}

#dark .switch label {
  color: white;
}

body {
  margin: 0;
}

@layer components {
  .row {
    @apply m-0.5 flex justify-center items-center;
  }
  .btn {
    @apply h-[60px] flex-1 flex justify-center items-center font-bold text-4xl bg-white border-slate-300 border-2 hover:bg-teal-200	 text-rose-900  rounded-3xl m-1 cursor-pointer select-none;
  }
  .operador {
    @apply hover:bg-yellow-200 bg-rose-300 border-none;
  }
  .input {
    @apply h-[60px] mb-7 rounded-[50px] flex justify-end items-center font-bold text-3xl text-[#cc1772]  p-3  pr-7 border-slate-300 border-2 m-1  drop-shadow-xl cursor-pointer;
  }
  .clear {
    @apply w-full h-[50px] flex justify-center items-center font-bold hover:bg-rose-300 bg-yellow-200 mt-2 text-[1.6em] text-rose-900 border-slate-300 border-2 rounded-[45px] cursor-pointer;
  }
}
